<!DOCTYPE html>
<html>

<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            @-ms-viewport {
                width: extend-to-zoom;
                zoom: 1.0;
            }
        </style>
        <title>Flask Auth Example</title>
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css"
              integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
              integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
              crossorigin="anonymous">
    {% endblock %}
</head>

<body>
<section class="hero is-primary is-fullheight">
    {% block navbar %}
        {% include 'partials/_navbar.html' %}
    {% endblock %}
    <div class="hero-body">
        <div class="container has-text-centered">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
        {% block footer %}
            {% include 'partials/_footer.html' %}
        {% endblock %}
    </div>
</section>
{% block script %}
    <script>
        // Variables
        let boton_nav = document.querySelector('.navbar-burger');
        let nav_menu = document.querySelector('.navbar-menu');

        // Eventos
        boton_nav.addEventListener('click', function () {
            nav_menu.classList.toggle('is-active');
            });
    </script>
{% endblock %}
</body>
</html>